.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  height: 0.98rem;
  z-index: 20;
}
.face {
  flex-shrink: 0;
  margin-bottom: .1rem;
}
.footer-side {
  flex-grow: 1;
  height: 0.98rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .2rem;
  flex-direction: column;
  border-top: 1px solid #eee;
}
.footerSide_icon {
  font-size: 0.4rem;
}

.icon-name {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .2rem;
  flex-direction: column;
  color: #000;
}
.icon-name-icon {
  font-size: 0.4rem;
}

.star-list {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0.8rem;
  padding: .3rem 0 1rem;
}
.star-list-item {
  margin: 0 .5rem;
}